.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.blur {
  -webkit-filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(6.5);
}
.contrast {
  -webkit-filter: contrast(5);
}
.hue-rotate {
  -webkit-filter: hue-rotate(180deg);
}
.hue-rotate2 {
  -webkit-filter: hue-rotate(90deg);
}
.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
}
.saturate {
  -webkit-filter: saturate(8);
}
.invert {
  -webkit-filter: invert(1);
}
.opacity {
  -webkit-filter: opacity(0.5);
}
.drop-shadow {
  -webkit-filter: drop-shadow(65px 65px 20px black);
}

/**
  * inspired by http://davidscottlyons.com/threejs/pyramid/index.html
  **/

html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
a {
  color: red;
}
#info {
  text-align: left;
  color: #fff;
  position: absolute;
  width: 240px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
  bottom: 50px;
  left: 10px;
}
#info h1 {
  margin: 0 0 10px;
  font-size: 20px;
}
h1 a {
  text-decoration: none;
}
#info-icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
}
#info-icon:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}
.hidden {
  display: none;
}
